* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  text-align: center;
  margin-top: 100px;
}

.title {
  font-family: Mirande;
  text-decoration: underline;
  text-decoration-thickness: 1px;
    text-underline-position: under; 
}

.background {
  width: 500px;
  height: auto;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 1.5px 1.5px 1.5px rgb(41, 41, 41, 0.70);
}

.animal {
  width: 10%;
  padding-right: 30px;
  margin-top: 25px;
  margin-bottom: 100px;
}

#fact {
  margin-top: -230px;
  font-family: Lightly Sailler;
  font-weight: bolder;
}

